:root {
	--dark-color-a: #3282b8;
	--dark-color-b: #0f4c75;
	--btn-color:#f0f0f0;
	--light-color: #1b262c;
	--primaryText: #000000;
	--secondText:#dbdbdb;
	--success-color: #5cb85c;
	--error-color: #d9534f;
	--chat-bg: #f3f3f3;
	--chats: #0f4c75 ;
}